NODE_ENV="development"
HOST=http://localhost

# mongodb environment variables
DB_URL=mongodb+srv://username:password@cluster0.pz9ze.mongodb.net/CRM?retryWrites=true&w=majority
TZ=Asia/Kolkata
PORT=5000
WAPHONE=countrycodemobile@s.whatsapp.net
WAGREETING_PHONE=countrycodemobile@s.whatsapp.net
WACLIENT_ID=username1705303358514

#jwt auth keys
JWT_ACCESS_EXPIRE=1h
JWT_ACCESS_USER_SECRET=343434343GRGsdsdsdsdRTRTR

# default 1 minute
COOKIE_EXPIRE=480

#from https://geocode.xyz/
GECODE_API_KEY=4434443ttytytvyt

# email facilities
EMAIL_HOST=smptp.gmail.com
EMAIL_PORT= 587
EMAIL_SERVICE=gmail
APP_EMAIL=username@gmail.com
APP_EMAIL_PASSWORD="app password for mail"


#cloud storage service config
bucketName='cloud-app-bucket-name'
type= "service_account"
private_key= "-----BEGIN PRIVATE KEY-----\nMIIEuwIBADANBgkqhkiG9w0BAQEFAASCBKUwggShAgEAAoIBAQCvPSv5gLtA51AW\nalV2Pcl/CYnA30DpP1eVulE0Vt5BL7J5Zbc3pG8n1ETK3VmQGhIFsRbQBQHO5y49\nlgEyK/KMwvbCP4fhZgTpcp6C3ukHM5wnsFd3w/5pDMRanskIq1yvbsLxHNB7Wr0v\nk26gXNV3uoSnjzJwCYBwKqs2xib7J0yxn73iX8NPURMmvtoctgKLzld2r8KRtqFR\n6c2T6pvYH+OMXM/Ymq4LX5If0cio6P07EEaHU+m6z37DN58n2Vdq13c3JauilSpsT7\nA0RwHjnhdv1XhCFAlznfuwG57XJ5xG+LcJMQIeKFo2MWfBkVs2fSErcCgYB8LLCm\n/4x+Ur1jBGxGbWb34jZZAultV7nk0FBCXIgunR7dFuCnmX4eJzBQ52HweDN3+bXD\ngP/Mp9chnAr2H8FVdf8Y4yROakqVGbaZy5vmIIc4enC6TzrZ32lRcJN7/DvNR5lj\n871uZ+tX0qwO335sCWWk5y1cKPLKm29HfbbocQKBgDM0BotNqYQMncaRog2fTbhm\ni6a8c+pLXYx+C4ObbRoLP3jYJ5n8A3ADUX/uGLT2hICJpCImiwI6GvxsFlUCwasc\nZ7cQGJeRtQ8zSxPbrgabn6nZ0wrvl4wSoJJrgeJwdxPGA1yremlZKpmCqzcKeEZv\nMhVpt8XnSuOYTHINo3A7\n-----END PRIVATE KEY-----\n"
client_email="asoasaosa"
client_id="545454f45"
universe_domain="googleapis.com"